@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

$gray1: rgb(33, 37, 41);
$gray2: rgb(59, 59, 59);
$gray3: rgb(26, 26, 26);
$gray1-opacity-70: rgba(27, 30, 34, 0.7);
$gray1-opacity-90: rgba(27, 30, 34, 0.9);

$blue1: rgb(161, 213, 255);

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
    // For Google Chrome
    &::-webkit-scrollbar {
        width:  $size;
        height: $size;
    }

    &::-webkit-scrollbar-thumb {
        background: $foreground-color;
    }

    &::-webkit-scrollbar-track {
        background: $background-color;
    }

    // For Internet Explorer
    & {
        scrollbar-face-color: $foreground-color;
        scrollbar-track-color: $background-color;
    }
}

body {
    background-color: $gray1;
    font-family: "Oswald", sans-serif;
    width: 100vw;
    overflow-x: hidden;
    @include scrollbars(5px, $gray2, $gray1);
}

header {
    color: white;
    background-color: $gray1-opacity-70;
}

footer {
    background-color: $gray3;
}

.bg-scss-1 {
    background-color: $gray1-opacity-90;
}

nav {
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
}

.title {
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 45px;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.2);
}

/* Fog Creation & Animation */

.fog {
    flex-direction: column;
    padding: 15px 30px;
    width: min-content;

    .line {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;

        &:nth-child(3) {
            span {
                background-color: $blue1;
            }
        }

        &:nth-child(2) {
            z-index: 10;

            span {
                &:nth-child(2) {
                    z-index: 1;
                }
                &:nth-child(3) {
                    background-color: $blue1;
                }
            }
        }

        &:nth-child(1) {
            z-index: 5;

            span {
                &:nth-child(2) {
                    z-index: 1;
                }
                &:nth-child(3) {
                    background-color: $blue1;
                }
                &:nth-child(4) {
                    animation-delay: 0s;
                }
            }
        }

        &:nth-child(3) {
            z-index: 5;

            span {
                box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
                
                &:nth-child(1) {
                    animation-delay: 0.5s;
                }

                &:nth-child(2) {
                    background-color: white;
                    animation-delay: 0s;

                }
                &:nth-child(3) {
                    z-index: 3;
                }
            }
        }

        span {
            width: 40px;
            background-color: white;
            height: 40px;
            border-radius: 100%;
            transform: scale(1.4);
            position: relative;
            

            &:nth-child(odd) { /* Applique l'effet à une fois sur deux */
                animation: little_to_big 1s alternate infinite;
            }

            &:nth-child(even) { /* Applique l'effet à une fois sur deux */
                animation: little_to_big 1s alternate infinite;
                animation-delay: 0.5s;
            }
        }
    }
}

@keyframes little_to_big {
    from {
        transform: scale(1.4);
    }
    
    to {
        transform: scale(1.6);
    }
}